:root{
    --mainColor: 255, 255, 255;
}

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background: #111;
    min-height: 100vh;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.player {
    width: 60%;
    max-width: 90%;
    position: relative;
    font-size: 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 500px 20px rgba(var(--mainColor),0.5);
    transition: box-shadow 2s;
}

.choose__file{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#file-btn{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file-btn + label{
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #fff;
    cursor: pointer;
}

.status{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0 0 0 /20%);
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s;
}

.visible{
    opacity: 1;
}

.player .status svg{
    width: 15%;
    height: 15%;
    fill: rgb(255 255 255 /80%);
}
.player svg{
    fill: rgb(255 255 255 /90%);
    width: 24px;
}

@keyframes status {
    0% {opacity: 0;}
    1% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
    max-width: none;
    width: 100%;
    border-radius: 0;
}

.player:-webkit-full-screen {
    max-width: none;
    width: 100%;
}

.player__video {
    width: 100%;
    height: 100%;
}

.player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;
}

.player__button.skip{
    flex-grow: 0;
    margin: 0 10px;
}

.player__button:focus {
    border-color: rgb(var(--mainColor));
}

.player__slider {
    width: 10px;
    height: 30px;
}

.player__controls {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.5);
    padding-bottom: 10px;
}

.player:hover .player__controls {
    transform: translateY(0);
}

.player:hover .progress {
    height: 5px;
}

.player:hover .progress:hover{
    height: 15px;
}

.player__controls > * {
    flex: 1;
}

.progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    margin-bottom: 10px;
}

.progress__filled {
    width: 50%;
    background: rgb(var(--mainColor));
    flex: 0;
    flex-basis: 0%;
}

/* .player__button.volume svg, .player__button.playbackrate svg, .player__button.toggle svg{
    width: 18px;
} */

.player__slider.volume, .player__slider.playbackrate{
    flex-grow: 0;
    width: 100px;
}


.player__slider.volume{
    opacity: 0;
    transition: opacity 0.3s;
}
.player__slider.volume:hover{
    opacity: 1;
}
.player__button.volume:hover + .player__slider.volume{
    opacity: 1;
}
.player__button.volume, .player__slider.volume{
    margin: 0;
}

.player__button.playbackrate{
    margin-left: auto;
}

.player__slider.playbackrate{
    margin-right: 20px;
}

/* unholy css to style input type="range" */

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(var(--mainColor)),rgb(var(--mainColor)));
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

input[type=range].playbackrate{
    background-size: 33.33% 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: rgb(var(--mainColor));
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}